#login-div{
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  text-align: center;
  font-size: 2em;
  height: 50%;
  background-color: white;
  border-radius: 5px;
}

#login-div input{
  width: 10em;
  height: 1.5em;
}

#login-div button{
  width: 70px;
  font-size: .5em;
  margin-bottom: 20px;
}

#login-form{
  width:50%;
}

#github-login{
  width: 50%;
  border-left: 1px solid grey;
}

#git-img{
  width: 80px;
}

#header {
  background-color: rgb(51, 51, 51);
  width: 100vw;
  height: 3em;
  box-shadow: 2px 2px 2px black;
}

#header img{
  width: 150px;
}

.row{
  margin: 0px;
}

#side-nav{
  background-color: rgb(51, 51, 51);
  height:100%;
  border-top: 2px solid rgb(45, 45, 45);
}

#links{
  display: table-column;
}

#footer{
  color: white;
  background-color: rgb(51, 51, 51);
  width: 100vw;
  height: 3em;
  text-align: center;
  position: absolute;
  bottom: 0px;
  margin:0px;
}

.container-fluid{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
  background-color: rgba(200, 200, 200, 0.5);
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-image: url('assets/bleh.jpg');
  background-size: cover;
}
