<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Orion | Login</title>
</head>

<body>
  <h1>Welcome to project Orion</h1>
  <div class="container-fluid">
    <div class="form">
      <form class="" action="/login" method="post">
        <p> Email: <input type="text" name="email" value="" placeholder="email"></p>
        <p>Password: <input type="password" name="password" value="" placeholder="password"></p>
        <button type="submit">Sign in</button>
      </form>
    </div>

  </div>

</body>

</html>
