<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Orion | Login</title>
  </head>
  <body>
    <h1>Welcome to project Orion</h1>
<%=title%> is sweet
<div class="">
  email
</div>
<form class="" action="/login" method="post">
<button type="submit">Sign in</button>
</form>
  </body>
</html>
