<div id="side-nav" class="sidenav col-md-1">
  <div id="links" class="tab">
    <a href="/staff/<%=cookies.id%>/"><button id="home-button" class="tablinks" name="button">Home</button></a>
    <a href="/staff/<%=cookies.id%>/students"><button id="students-button" class="tablinks" name="button">Students</button></a>
    <a href="/staff/<%=cookies.id%>/todos"><button id="todos-button" class="tablinks" name="button">Todos</button></a>
  </div>
</div>
