<div id="profile" class="row tabcontent">
  <%-include('staff-profile')%>
</div>
<div id="contact" class="row tabcontent">
  <%-include('contacts')%>
</div>
<div id="home" class="row tabcontent">
  <%-include('staff-home')%>
</div>
<div id="todos" class="row tabcontent">

</div>
