<%var studenter;%>
<div class="col-md-11">
  <% if (studenter === null){%>

  <%}%>
    <div class="row">
      <h3></h3>
    </div>
      <div id="student-pic-background" class="col-md-2">
        <img id="student-picture" src="http://i.imgur.com/GV2dqxog.jpg" alt="">
      </div>
      <div class="col-md-7">

      </div>
      <div class="col-md-3">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i< staffHome.length; i++){%>
              <% var {name, description, completed} = staffHome[i]%>
                <tr>
                  <td>
                    <%= name %>
                  </td>
                  <td>
                    <%= description %>
                  </td>
                  <td>
                    <%= completed %>
                  </td>
                </tr>
                <%}%>
          </tbody>
        </table>
      </div>



</div>
