<div id="side-nav" class="sidenav col-md-1">
  <div id="links">
    <form action="/staff/home/" method="get">
      <button type="submit" name="button"></button>
    </form>
    <a href="/profile/">Profile</a>
    <a href="/#">Contact</a>
  </div>
</div>
