<div id="side-nav" class="sidenav col-md-1">
  <div id="links" class="tab">
    <button id="students-button" class="tablinks" onclick="openDiv(event, 'students')" name="button">Students</button>
    <button id="home-button" class="tablinks" onclick="openDiv(event, 'home')" name="button">Home</button>
    <button id="todos-button" class="tablinks" onclick="openDiv(event, 'todos')" name="button">Todos</button>
  </div>
</div>
