<div id="side-nav" class="sidenav col-md-1">
  <div id="links" class="tab">
    <a href="/student/<%=cookies.id%>/"><button id="home-button" class="tablinks" name="button">Profile</button></a>
    <a href="/student/<%=cookies.id%>/contacts"><button id="students-button" class="tablinks" name="button">Contacts</button></a>
    <a href="/student/<%=cookies.id%>/jobs"><button id="todos-button" class="tablinks" name="button">Jobs</button></a>
  </div>
</div>
