<div id="side-nav" class="sidenav col-md-1">
  <div id="links" class="tab">
    <button id="home-button" class="tablinks" onclick="openDiv(event, 'home')" name="button">Profile</button>
    <button id="contact-button" class="tablinks" onclick="openDiv(event, 'contact')" name="button">Contact</button>
    <button id="jobs-button" class="tablinks" onclick="openDiv(event, 'job')" name="button">Jobs</button>
  </div>
</div>
