<div id="home" class="tabcontent">
      <%- include('student-profile') %>
</div>
<div id="contact" class="tabcontent">
    <%- include('contacts') %>
</div>
<div id="job" class="tabcontent">
    <%- include('jobs') %>
</div>
