<div id="side-nav" class="sidenav col-md-1">
  <div id="links" class="tab">
    <button class="tablinks" onclick="openDiv(event, 'profile')" name="button">Profile</button>
    <button class="tablinks" onclick="openDiv(event, 'contact')" name="button">Contact</button>
    <button class="tablinks" onclick="openDiv(event, 'job')" name="button">Jobs</button>
  </div>
</div>
