
<% for (var i = 0; i < cohorts.length; i++){ %>
  <h2><%=cohorts[i].cohort_name%></h2>
  <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% for(var j = 0; j < students.length; j++){ %>
    <% if (students[j].cohorts_id === cohorts[i].id){ %>
      <tr>
        <td>
          <%= students[j].first_name +" "+ students[j].last_name %>
        </td>
        <td>
          <%= students[j].email %>
        </td>
        <td>
          <button type="button" class="student-select" value="<%=students[j].id%>">Select</button>
        </td>
      </tr>
    <%}%>
    <%}%>

  </tbody>
  </table>
<%}%>
<script type="text/javascript">
var s;
if (document.getElementsByClassName('student-select').onclick === true) {
  alert('help')
}
  document.getElementsByClassName('student-select').onclick = function(){
    console.log("pre-click",s)
    s = document.getElementsByClassName('student-select').value;
    console.log("post-click",s)
  }
</script>
