<h3>Edit To Do</h3>
  <form class="" action="/todos/update/<%= todo[0].id %>" method="post">
    Name: <input type="text" name="name" placeholder="name" value="<%= todo[0].name %>"><br>
    Description: <input type="text" name="description" placeholder="description" value="<%= todo[0].description %>"><br>
    <input type="submit">
  </form>
